<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionJugueteria"
			 connectionString="Server=.\SQLEXPRESS; Database=sistema_jugueteria; Integrated Security=True; TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>